repos/
venv/
**/__pycache__/
**/scripts/changelog/outputs.txt

.DS_Store
.idea
.env

cert.pem

datalens-images.tar
datalens-images.txt
datalens-images.tar.gz
datalens-images.tar.gz.tmp

datalens_db.dump

docker-compose.tmp.yaml
docker-compose.production.yaml

dist/
