name: Tofu lint

on:
  pull_request:
    paths:
      - 'terraform/**'

permissions:
  contents: read

jobs:
  run:
    name: tofu
    runs-on:
      - self-hosted
      - linux
      - cloud
      - datalens-opensource
    steps:
      - uses: actions/checkout@v4
      - run: |
          ../scripts/tofu.sh --lint
        working-directory: ./terraform
