name: Tofu apply

on:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  run:
    name: tofu
    runs-on:
      - self-hosted
      - linux
      - cloud
      - datalens-opensource
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - run: |
          ../scripts/tofu.sh --tofurc --cleanup --init --silent --apply --approve
        working-directory: ./terraform
        env:
          CI: 'true'
          CLOUD_ID: ${{ vars.CLOUD_ID }}
          FOLDER_ID: ${{ vars.FOLDER_ID }}
          DOMAIN: ${{ vars.DOMAIN }}
          TOFU_MIRROR: 'terraform-mirror.yandexcloud.net'
